<div class="xl:sticky xl:top-30">
    <div class="grid grid-cols-1 gap-y-20p mb-20p">
        <div class="bg-b-neutral-3 flex-y gap-16p py-32p px-40p rounded-12">
            <div class="relative bg-b-neutral-2 p-24p rounded-4">
                <img class="size-[74px]" src="./assets/images/shop/product1.1.webp" alt="product" />
                <span class="absolute -top-3 -right-3 badge-box-neutral-1">
                    01
                </span>
            </div>
            <div>
                <a href="./shop-details.html" class="heading-5 text-w-neutral-1 link-1 line-clamp-1 mb-1">
                    Wireless Earbuds
                </a>
                <h5 class="heading-5 text-w-neutral-1 mb-3">
                    $29.90
                </h5>
                <button class="icon-24 text-primary hover:text-danger transition-1">
                    <i class="ti ti-archive"></i>
                </button>
            </div>
        </div>
        <div class="bg-b-neutral-3 flex-y gap-16p py-32p px-40p rounded-12">
            <div class="relative bg-b-neutral-2 p-24p rounded-4">
                <img class="size-[74px]" src="./assets/images/shop/product2.webp" alt="product" />
                <span class="absolute -top-3 -right-3 badge-box-neutral-1">
                    01
                </span>
            </div>
            <div>
                <a href="./shop-details.html" class="heading-5 text-w-neutral-1 link-1 line-clamp-1 mb-1">
                    Washing Machine
                </a>
                <h5 class="heading-5 text-w-neutral-1 mb-3">
                    $29.90
                </h5>
                <button class="icon-24 text-primary hover:text-danger transition-1">
                    <i class="ti ti-archive"></i>
                </button>
            </div>
        </div>
        <div class="bg-b-neutral-3 flex-y gap-16p py-32p px-40p rounded-12">
            <div class="relative bg-b-neutral-2 p-24p rounded-4">
                <img class="size-[74px]" src="./assets/images/shop/product3.webp" alt="product" />
                <span class="absolute -top-3 -right-3 badge-box-neutral-1">
                    01
                </span>
            </div>
            <div>
                <a href="./shop-details.html" class="heading-5 text-w-neutral-1 link-1 line-clamp-1 mb-1">
                    Double Door Refrigerator
                </a>
                <h5 class="heading-5 text-w-neutral-1 mb-3">
                    $29.90
                </h5>
                <button class="icon-24 text-primary hover:text-danger transition-1">
                    <i class="ti ti-archive"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="bg-b-neutral-3 flex-y gap-16p py-32p px-40p rounded-12 mb-20p">
        <div class="w-full flex-y justify-between gap-3 p-3 bg-b-neutral-2 rounded-12">
            <input class="w-full bg-transparent text-m-medium text-w-neutral-1 placeholder:text-w-neutral-4" type="text"
                name="coupon" placeholder="Discount Code" />
            <button type="submit" class="shrink-0 btn btn-md btn-primary rounded-12">
                Apply
            </button>
        </div>
    </div>
    <div class="bg-b-neutral-3 py-32p px-40p rounded-12">
        <div class="flex-y justify-between gap-3 mb-3">
            <span class="text-l-medium text-w-neutral-1">
                Subtotal
            </span>
            <span class="text-l-medium text-w-neutral-1">
                €75.00
            </span>
        </div>
        <div class="flex-y justify-between gap-3 mb-20p">
            <span class="text-l-medium text-w-neutral-1">
                Tax
            </span>
            <span class="text-l-medium text-w-neutral-1">
                €2.00
            </span>
        </div>
        <div class="flex-y justify-between gap-3 pt-20p border-t border-shap">
            <span class="text-l-medium text-w-neutral-1">
                Total
            </span>
            <span class="text-l-medium text-w-neutral-1">
                €75.00
            </span>
        </div>
    </div>
</div>