<!-- footer start -->
<footer class="section-pt overflow-hidden bg-b-neutral-3">
    <div class="container relative">
        <div class="relative z-10 lg:mx-60p">
            <div class="grid grid-cols-12 gap-24p">
                <div class="xl:col-span-5 col-span-12">
                    <div class="max-w-[364px]">
                        <a href="./index.html" class="heading-4 text-w-neutral-1 inline-flex gap-20p mb-24p">
                            <img src="./assets/images/icons/brand.svg" alt="logo" />
                            Get In Touch
                        </a>
                        <h2 class="display-4 text-w-neutral-1 mb-16p">
                            Subscribe Now.
                        </h2>
                        <p class="text-base text-w-neutral-3">
                            Become visionary behind a sprawling. metropolis Metropolis Tycoon.
                        </p>
                    </div>
                </div>
                <div class="xl:col-span-7 col-span-12 flex items-end">
                    <form class="w-full flex items-end gap-24p">
                        <div class="w-full">
                            <label for="subscribeEmail" class="heading-4 text-w-neutral-1 mb-24p">
                                Email address
                            </label>
                            <input type="email" placeholder="Enter your email" name="subscribeEmail" id="subscribeEmail"
                                required
                                class="w-full bg-transparent border-b border-shap pb-16p text-base text-w-neutral-1 placeholder:text-w-neutral-3" />
                        </div>
                        <button type="submit"
                            class="shrink-0 xl:size-[140px] md:size-30 size-28 rounded-full sm:flex-c hidden text-m-medium btn-primary">
                            <span>
                                Now
                                <i class="ti ti-arrow-up-right icon-24"></i>
                                Subscribe
                            </span>
                        </button>
                    </form>
                </div>
            </div>
            <div
                class="grid xl:grid-cols-4 xsm:grid-cols-2 grid-cols-1 gap-x-30p gap-y-40p border-b-2 border-dashed border-shap py-60p">
                <div>
                    <h4 class="heading-4 text-w-neutral-1 mb-32p">
                        Quick Link
                    </h4>
                    <ul
                        class="grid grid-cols-1 sm:gap-y-16p gap-y-2 gap-x-32p *:flex *:items-center text-base font-poppins">
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./library.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                My Library
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./leaderboard.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Leaderboards
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./trending.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Trending
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./shop.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Shop
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./marketplace-two.html"
                                class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Marketplace
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="heading-4 text-w-neutral-1 mb-32p">
                        EXPLORE
                    </h4>
                    <ul
                        class="grid grid-cols-1 sm:gap-y-16p gap-y-2 gap-x-32p *:flex *:items-center text-base font-poppins">
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./trending.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Trending
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./chat.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Chat
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./shop.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Shop
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./news.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                News
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="heading-4 text-w-neutral-1 mb-32p">
                        Follow Us
                    </h4>
                    <ul
                        class="grid grid-cols-1 sm:gap-y-16p gap-y-2 gap-x-32p *:flex *:items-center text-base font-poppins">
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./tournaments.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Tournaments
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="community.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Community
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="#" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Notifications
                            </a>
                        </li>
                        <li
                            class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i
                                class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a href="./contact-us.html" class="text-w-neutral-3 group-hover:text-primary transition-1">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="heading-4 text-w-neutral-1 mb-32p">
                        Follow Us
                    </h4>
                    <p class="text-base text-w-neutral-3 mb-3 max-w-[230px] w-full">
                        4517 Washington Ave. Manchester, Kentucky 39495
                    </p>
                    <span class="text-m-medium text-primary mb-60p">
                        #London
                    </span>
                    <div class="flex items-center gap-3">
                        <a href="#" class="btn-socal-primary">
                            <i class="ti ti-brand-facebook"></i>
                        </a>
                        <a href="#" class="btn-socal-primary">
                            <i class="ti ti-brand-twitch"></i>
                        </a>
                        <a href="#" class="btn-socal-primary">
                            <i class="ti ti-brand-instagram"></i>
                        </a>
                        <a href="#" class="btn-socal-primary">
                            <i class="ti ti-brand-discord"></i>
                        </a>
                        <a href="#" class="btn-socal-primary">
                            <i class="ti ti-brand-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center text-center flex-wrap gap-y-3 py-30p">
                <p class="text-base text-w-neutral-3">
                    Copyright ©
                    <span class="currentYear span"></span>
                </p>
                <div class="w-1px h-4 bg-shap mx-3"></div>
                <p class="text-base text-w-neutral-3">
                    Designed By
                    <a href="https://themeforest.net/user/uiaxis/portfolio" class="text-primary hover:underline a">
                        UIAXIS</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->