<!-- Group Header start -->
<div class="bg-b-neutral-3">
    <div class="glitch-effect rounded-t-12 overflow-hidden">
        <div class="glitch-thumb">
            <img class="w-full 3xl:h-[428px] lg:h-[400px] md:h-[340px] sm:h-[280px] h-[240px] object-cover"
                src="./assets/images/groups/group1.1.png" alt="image" />
        </div>
        <div class="glitch-thumb">
            <img class="w-full 3xl:h-[428px] lg:h-[400px] md:h-[340px] sm:h-[280px] h-[240px] object-cover"
                src="./assets/images/groups/group1.1.png" alt="image" />
        </div>
    </div>
    <div class="px-40p">
        <div
            class="flex md:flex-row flex-col md:items-end items-center justify-center md:text-left text-center  gap-3 py-4 xxl:-mt-[90px] xl:-mt-15 max-md:-mt-20 relative z-[2]">
            <img class="avatar xxl:size-[160px] xl:size-[140px] size-[120px] border-2 border-secondary"
                src="./assets/images/groups/groupLogo13.png" alt="group profile" />
            <div class="flex items-center md:justify-between justify-center flex-wrap gap-24p w-full">
                <div>
                    <h4 class="heading-4 text-w-neutral-1 mb-2">
                        Design & Art
                    </h4>
                    <div class="flex-y gap-3">
                        <div class="flex-y gap-1 text-white">
                            <i class="ti ti-world icon-20"></i>
                            <span class="text-sm">
                                Public
                            </span>
                        </div>
                        <p class="text-sm text-w-neutral-3">
                            3 months ago
                        </p>
                    </div>
                </div>
                <div class="flex-y gap-3">
                    <span class="text-m-medium text-w-neutral-3">
                        Group Admins
                    </span>
                    <img class="avatar size-48p border border-secondary" src="./assets/images/users/user1.png"
                        alt="user" />
                </div>
            </div>
        </div>
        <div class="flex items-center sm:justify-between justify-center flex-wrap gap-24p py-20p border-t border-shap">
            <div
                class="tab-navbar flex items-center flex-wrap gap-x-32p gap-y-24p sm:text-xl text-lg *:font-borda font-medium text-w-neutral-1 whitespace-nowrap">
                <a href="./group-home.html">
                    Home
                </a>
                <a href="./group-related-groups.html">
                    Groups
                </a>
                <a href="./group-forum.html">
                    Forum
                </a>
                <a href="./group-members.html">
                    Members
                </a>
                <a href="./group-media.html">
                    Media
                </a>
            </div>
            <button class="btn btn-md btn-secondary text-sm rounded-12">
                Leave Group
            </button>
        </div>
    </div>
</div>
<!-- Group Header end -->