<div>
    <!-- left sidebar start-->
    <div
        class="fixed top-0 left-0 lg:translate-x-0 -translate-x-full h-screen z-30 bg-b-neutral-4 pt-30 px-[27px] transition-1">
        <div class="max-h-screen overflow-y-auto scrollbar-0">
            <div class="flex flex-col items-center xxl:gap-[30px] xl:gap-6 lg:gap-5 gap-4 h-[700px] side-navbar-one">
                <button class="nav-toggole btn-c btn-c-3xl btn-primary icon-32 shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-layout-grid">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                    </svg>
                </button>
                <div class="flex flex-col gap-2 rounded-full bg-b-neutral-1 w-fit p-2 shrink-0">
                    <a href="./trending.html" class="nav-item btn-c btn-c-3xl text-white  transition-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-flame">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M12 10.941c2.333 -3.308 .167 -7.823 -1 -8.941c0 3.395 -2.235 5.299 -3.667 6.706c-1.43 1.408 -2.333 3.621 -2.333 5.588c0 3.704 3.134 6.706 7 6.706s7 -3.002 7 -6.706c0 -1.712 -1.232 -4.403 -2.333 -5.588c-2.084 3.353 -3.257 3.353 -4.667 2.235" />
                        </svg>
                    </a>
                    <a href="./groups-two.html" class="nav-item btn-c btn-c-3xl text-white  transition-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-users-group">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                            <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                            <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
                        </svg>
                    </a>
                    <a href="./saved.html" class="nav-item btn-c btn-c-3xl text-white  transition-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
                        </svg>
                    </a>
                    <a href="./user-achievements.html" class="nav-item btn-c btn-c-3xl text-white  transition-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-star">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>
                    </a>
                </div>
                <div class="flex flex-col gap-2 rounded-full w-fit p-2 shrink-0">
                    <a href="./marketplace-two.html" class="nav-item btn-c btn-c-3xl ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-diamond">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M6 5h12l3 5l-8.5 9.5a.7 .7 0 0 1 -1 0l-8.5 -9.5l3 -5" />
                            <path d="M10 12l-2 -2.2l.6 -1" />
                        </svg>
                    </a>
                    <a href="./chat.html" class="nav-item btn-c btn-c-3xl ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-messages">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10" />
                            <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" />
                        </svg>
                    </a>
                    <a href="./profile.html" class="nav-item btn-c btn-c-3xl ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-user">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- left sidebar end -->
    <!-- right sidebar start -->
    <div
        class="fixed top-0 right-0 lg:translate-x-0 translate-x-full h-screen z-30 bg-b-neutral-4 pt-30 px-[27px] transition-1">
        <div class="flex flex-col items-center xxl:gap-[30px] xl:gap-6 lg:gap-5 gap-4">
            <div class="flex flex-col items-center gap-16p rounded-full w-fit p-2">
                <div class="swiper infinity-slide-vertical messenger-carousel max-h-[288px] w-full">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar1.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar2.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar3.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar4.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar1.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar2.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar3.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar4.png" alt="avatar">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#"
                    class="btn-c btn-c-xl bg-b-neutral-1 hover:bg-primary text-white hover:text-b-neutral-4 transition-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                    </svg>
                </a>
            </div>
            <div class="w-full h-1px bg-b-neutral-1"></div>
            <div class="flex flex-col items-center gap-16p rounded-full w-fit p-2">
                <div class="swiper infinity-slide-vertical messenger-carousel max-h-[136px] w-full">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar5.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar6.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar3.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar4.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar1.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar2.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar3.png" alt="avatar">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="./chat.html" class="avatar size-60p">
                                <img src="./assets/images/users/avatar4.png" alt="avatar">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- right sidebar end -->
</div>