<!-- Popular Games One section start -->
<section class="section-py">
    <div class="container">
        <div class="flex items-center justify-between flex-wrap gap-24p">
            <h2 class="heading-2 text-w-neutral-1 text-split-left">
                Popular Games
            </h2>
            <form class="select-1 shrink-0">
                <select class="select w-full sm:py-3 py-2 px-24p rounded-full">
                    <option value="popular">Popular</option>
                    <option value="new-releases">New Releases</option>
                    <option value="action">Action</option>
                    <option value="adventure">Adventure</option>
                    <option value="sports">Sports</option>
                </select>
            </form>
        </div>
        <div class="mt-40p">
            <div class="swiper four-card-carousel" data-carousel-reverse="true" data-carousel-name="popular-games-one">
                <div class="swiper-wrapper pb-15">
                    <div class="swiper-slide">
                        <div class="w-full bg-b-neutral-3 rounded-12 group">
                            <div class="relative px-20p pt-20p">
                                <div class="overflow-hidden rounded-12">
                                    <img class="w-full 4xl:h-[300px] sm:h-[240px] h-[220px] group-hover:scale-110 object-cover transition-1"
                                        src="./assets/images/games/game35.png" alt="game" />
                                </div>
                                <span class="absolute left-9 -bottom-5 uppercase badge badge-xl badge-outline-primary">
                                    Basic Game
                                </span>
                            </div>
                            <div class="md:pt-[40px] pt-9 pb-24p px-32p">
                                <a href="./game-details.html"
                                    class="heading-4 text-w-neutral-1 link-1 line-clamp-1 mb-20p">
                                    Sports Simulation
                                </a>
                                <div class="flex-y flex-wrap gap-20p">
                                    <span class="badge badge-md badge-primary text-base">
                                        20% OFF
                                    </span>
                                    <div class="flex-y gap-4">
                                        <span class="text-sm  text-w-neutral-4 line-through">
                                            $75.09
                                        </span>
                                        <span class="text-l-medium text-w-neutral-1">
                                            $60.98
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="w-full bg-b-neutral-3 rounded-12 group">
                            <div class="relative px-20p pt-20p">
                                <div class="overflow-hidden rounded-12">
                                    <img class="w-full 4xl:h-[300px] sm:h-[240px] h-[220px] group-hover:scale-110 object-cover transition-1"
                                        src="./assets/images/games/game36.png" alt="Horror Survival" />
                                </div>
                                <span class="absolute left-9 -bottom-5 uppercase badge badge-xl badge-outline-primary">
                                    Basic Game
                                </span>
                            </div>
                            <div class="md:pt-[40px] pt-9 pb-24p px-32p">
                                <a href="./game-details.html"
                                    class="heading-4 text-w-neutral-1 link-1 line-clamp-1 mb-20p">
                                    Horror Survival
                                </a>
                                <div class="flex-y flex-wrap gap-20p">
                                    <span class="badge badge-md badge-primary text-base">50% OFF</span>
                                    <div class="flex-y gap-4">
                                        <span class="text-sm  text-w-neutral-4 line-through">$75.80</span>
                                        <span class="text-l-medium text-w-neutral-1">$45.30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="w-full bg-b-neutral-3 rounded-12 group">
                            <div class="relative px-20p pt-20p">
                                <div class="overflow-hidden rounded-12">
                                    <img class="w-full 4xl:h-[300px] sm:h-[240px] h-[220px] group-hover:scale-110 object-cover transition-1"
                                        src="./assets/images/games/game37.png" alt="Strategy Simulation" />
                                </div>
                                <span class="absolute left-9 -bottom-5 uppercase badge badge-xl badge-outline-primary">
                                    Basic Game
                                </span>
                            </div>
                            <div class="md:pt-[40px] pt-9 pb-24p px-32p">
                                <a href="./game-details.html"
                                    class="heading-4 text-w-neutral-1 link-1 line-clamp-1 mb-20p">
                                    Strategy Simulation
                                </a>
                                <div class="flex-y flex-wrap gap-20p">
                                    <span class="badge badge-md badge-primary text-base">75% OFF</span>
                                    <div class="flex-y gap-4">
                                        <span class="text-sm  text-w-neutral-4 line-through">$70.98</span>
                                        <span class="text-l-medium text-w-neutral-1">$75.20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="w-full bg-b-neutral-3 rounded-12 group">
                            <div class="relative px-20p pt-20p">
                                <div class="overflow-hidden rounded-12">
                                    <img class="w-full 4xl:h-[300px] sm:h-[240px] h-[220px] group-hover:scale-110 object-cover transition-1"
                                        src="./assets/images/games/game38.png" alt="Sci-Fi Shooter" />
                                </div>
                                <span class="absolute left-9 -bottom-5 uppercase badge badge-xl badge-outline-primary">
                                    Basic Game
                                </span>
                            </div>
                            <div class="md:pt-[40px] pt-9 pb-24p px-32p">
                                <a href="./game-details.html"
                                    class="heading-4 text-w-neutral-1 link-1 line-clamp-1 mb-20p">
                                    Sci-Fi Shooter
                                </a>
                                <div class="flex-y flex-wrap gap-20p">
                                    <span class="badge badge-md badge-primary text-base">30% OFF</span>
                                    <div class="flex-y gap-4">
                                        <span class="text-sm  text-w-neutral-4 line-through">$90.98</span>
                                        <span class="text-l-medium text-w-neutral-1">$40.75</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="w-full bg-b-neutral-3 rounded-12 group">
                            <div class="relative px-20p pt-20p">
                                <div class="overflow-hidden rounded-12">
                                    <img class="w-full 4xl:h-[300px] sm:h-[240px] h-[220px] group-hover:scale-110 object-cover transition-1"
                                        src="./assets/images/games/game35.png" alt="game" />
                                </div>
                                <span class="absolute left-9 -bottom-5 uppercase badge badge-xl badge-outline-primary">
                                    Basic Game
                                </span>
                            </div>
                            <div class="md:pt-[40px] pt-9 pb-24p px-32p">
                                <a href="./game-details.html"
                                    class="heading-4 text-w-neutral-1 link-1 line-clamp-1 mb-20p">
                                    Sports Simulation
                                </a>
                                <div class="flex-y flex-wrap gap-20p">
                                    <span class="badge badge-md badge-primary text-base">
                                        20% OFF
                                    </span>
                                    <div class="flex-y gap-4">
                                        <span class="text-sm  text-w-neutral-4 line-through">
                                            $75.09
                                        </span>
                                        <span class="text-l-medium text-w-neutral-1">
                                            $60.98
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="w-full bg-b-neutral-3 rounded-12 group">
                            <div class="relative px-20p pt-20p">
                                <div class="overflow-hidden rounded-12">
                                    <img class="w-full 4xl:h-[300px] sm:h-[240px] h-[220px] group-hover:scale-110 object-cover transition-1"
                                        src="./assets/images/games/game36.png" alt="Horror Survival" />
                                </div>
                                <span class="absolute left-9 -bottom-5 uppercase badge badge-xl badge-outline-primary">
                                    Basic Game
                                </span>
                            </div>
                            <div class="md:pt-[40px] pt-9 pb-24p px-32p">
                                <a href="./game-details.html"
                                    class="heading-4 text-w-neutral-1 link-1 line-clamp-1 mb-20p">
                                    Horror Survival
                                </a>
                                <div class="flex-y flex-wrap gap-20p">
                                    <span class="badge badge-md badge-primary text-base">50% OFF</span>
                                    <div class="flex-y gap-4">
                                        <span class="text-sm  text-w-neutral-4 line-through">$75.80</span>
                                        <span class="text-l-medium text-w-neutral-1">$45.30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="w-full bg-b-neutral-3 rounded-12 group">
                            <div class="relative px-20p pt-20p">
                                <div class="overflow-hidden rounded-12">
                                    <img class="w-full 4xl:h-[300px] sm:h-[240px] h-[220px] group-hover:scale-110 object-cover transition-1"
                                        src="./assets/images/games/game37.png" alt="Strategy Simulation" />
                                </div>
                                <span class="absolute left-9 -bottom-5 uppercase badge badge-xl badge-outline-primary">
                                    Basic Game
                                </span>
                            </div>
                            <div class="md:pt-[40px] pt-9 pb-24p px-32p">
                                <a href="./game-details.html"
                                    class="heading-4 text-w-neutral-1 link-1 line-clamp-1 mb-20p">
                                    Strategy Simulation
                                </a>
                                <div class="flex-y flex-wrap gap-20p">
                                    <span class="badge badge-md badge-primary text-base">75% OFF</span>
                                    <div class="flex-y gap-4">
                                        <span class="text-sm  text-w-neutral-4 line-through">$70.98</span>
                                        <span class="text-l-medium text-w-neutral-1">$75.20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="w-full bg-b-neutral-3 rounded-12 group">
                            <div class="relative px-20p pt-20p">
                                <div class="overflow-hidden rounded-12">
                                    <img class="w-full 4xl:h-[300px] sm:h-[240px] h-[220px] group-hover:scale-110 object-cover transition-1"
                                        src="./assets/images/games/game38.png" alt="Sci-Fi Shooter" />
                                </div>
                                <span class="absolute left-9 -bottom-5 uppercase badge badge-xl badge-outline-primary">
                                    Basic Game
                                </span>
                            </div>
                            <div class="md:pt-[40px] pt-9 pb-24p px-32p">
                                <a href="./game-details.html"
                                    class="heading-4 text-w-neutral-1 link-1 line-clamp-1 mb-20p">
                                    Sci-Fi Shooter
                                </a>
                                <div class="flex-y flex-wrap gap-20p">
                                    <span class="badge badge-md badge-primary text-base">30% OFF</span>
                                    <div class="flex-y gap-4">
                                        <span class="text-sm  text-w-neutral-4 line-through">$90.98</span>
                                        <span class="text-l-medium text-w-neutral-1">$40.75</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="swiper-pagination pagination-one popular-games-one-carousel-pagination flex-c gap-2.5">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Games One section end -->