<!-- right sidebar start -->
<div class="max-lg:hidden  flex-none relative">
    <div class="sticky top-0 h-screen">
        <div class="lg:translate-x-0 translate-x-full z-30 bg-b-neutral-4 pt-30 px-[27px] transition-1">
            <div class="flex flex-col items-center xxl:gap-[30px] xl:gap-6 lg:gap-5 gap-4">
                <div class="flex flex-col items-center gap-16p rounded-full w-fit p-2">
                    <div class="swiper infinity-slide-vertical messenger-carousel max-h-[288px] w-full">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar1.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar2.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar3.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar4.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar1.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar2.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar3.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar4.png" alt="avatar">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#"
                        class="btn-c btn-c-xl bg-b-neutral-1 hover:bg-primary text-white hover:text-b-neutral-4 transition-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                    </a>
                </div>
                <div class="w-full h-1px bg-b-neutral-1"></div>
                <div class="flex flex-col items-center gap-16p rounded-full w-fit p-2">
                    <div class="swiper infinity-slide-vertical messenger-carousel max-h-[136px] w-full">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar5.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar6.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar3.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar4.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar1.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar2.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar3.png" alt="avatar">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="./chat.html" class="avatar size-60p">
                                    <img src="./assets/images/users/avatar4.png" alt="avatar">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- right sidebar end -->