<!-- right side content active members, Latest Blogs, Testimonials, newsletter card start -->
<div class="grid grid-cols-12 gap-24p *:bg-b-neutral-3 *:rounded-12 *:px-32p *:py-24p">
    <div class="xxl:col-span-12 md:col-span-6 col-span-12 xxl:order-1 order-3">
        <div class="flex flex-wrap items-center justify-between gap-3 mb-40p">
            <h4 class="heading-4 text-w-neutral-1">
                Active Members
            </h4>
            <a href="#" class="inline-flex items-center gap-3 text-w-neutral-1 link-1">
                View All
                <i class="ti ti-arrow-right"></i>
            </a>
        </div>
        <!-- active-members-carousel -->
        <div class="swiper active-members-carousel w-full">
            <div class="swiper-wrapper *:w-fit">
                <div class="swiper-slide">
                    <div>
                        <a href="#" class="avatar relative size-60p mb-3">
                            <img class="size-60p rounded-full" src="./assets/images/users/user1.png" alt="avatar" />
                            <span class="status-badge online">
                                <i class="ti ti-circle-check-filled"></i>
                            </span>
                        </a>
                        <span class="text-m-regular text-w-neutral-1 text-center">
                            Courtney
                        </span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="#" class="avatar relative size-60p mb-3">
                            <img class="size-60p rounded-full" src="./assets/images/users/user2.png" alt="avatar" />
                            <span class="status-badge offline">
                                <i class="ti ti-circle-check-filled"></i>
                            </span>
                        </a>
                        <span class="text-m-regular text-w-neutral-1 text-center">
                            Priscilla
                        </span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="#" class="avatar relative size-60p mb-3">
                            <img class="size-60p rounded-full" src="./assets/images/users/user3.png" alt="avatar" />
                            <span class="status-badge online">
                                <i class="ti ti-circle-check-filled"></i>
                            </span>
                        </a>
                        <span class="text-m-regular text-w-neutral-1 text-center">
                            Priscilla
                        </span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="#" class="avatar relative size-60p mb-3">
                            <img class="size-60p rounded-full" src="./assets/images/users/user5.png" alt="avatar" />
                            <div class="status-badge offline">
                                <i class="ti ti-circle-check-filled"></i>
                            </div>
                        </a>
                        <span class="text-m-regular text-w-neutral-1 text-center">
                            Aubrey
                        </span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="#" class="avatar relative size-60p mb-3">
                            <img class="size-60p rounded-full" src="./assets/images/users/user6.png" alt="avatar" />
                            <div class="status-badge offline">
                                <i class="ti ti-circle-check-filled"></i>
                            </div>
                        </a>
                        <span class="text-m-regular text-w-neutral-1 text-center">
                            jon Smith
                        </span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="#" class="avatar relative size-60p mb-3">
                            <img class="size-60p rounded-full" src="./assets/images/users/user7.png" alt="avatar" />
                            <div class="status-badge offline">
                                <i class="ti ti-circle-check-filled"></i>
                            </div>
                        </a>
                        <span class="text-m-regular text-w-neutral-1 text-center">
                            jon Doe
                        </span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="#" class="avatar relative size-60p mb-3">
                            <img class="size-60p rounded-full" src="./assets/images/users/user8.png" alt="avatar" />
                            <div class="status-badge offline">
                                <i class="ti ti-circle-check-filled"></i>
                            </div>
                        </a>
                        <span class="text-m-regular text-w-neutral-1 text-center">
                            Priscilla
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xxl:col-span-12 md:col-span-6 col-span-12 xxl:order-2 order-2">
        <div class="flex items-center justify-between flex-wrap gap-3 mb-24p">
            <h4 class="heading-4 text-w-neutral-1 ">
                Latest News
            </h4>
            <a href="./blogs.html" class="inline-flex items-center gap-3 text-w-neutral-1 link-1">
                View All
                <i class="ti ti-arrow-right"></i>
            </a>
        </div>
        <div class="group">
            <div class="overflow-hidden rounded-12">
                <img class="w-full h-[202px] object-cover group-hover:scale-110 transition-1"
                    src="./assets/images/blogs/blog9.png" alt="img" />
            </div>
            <div class="flex-y justify-between flex-wrap gap-20px py-3">
                <div class="flex-y gap-3">
                    <div class="flex-y gap-1">
                        <i class="ti ti-heart icon-20 text-danger"></i>
                        <span class="text-sm text-w-neutral-1">
                            02
                        </span>
                    </div>
                    <div class="flex-y gap-1">
                        <i class="ti ti-message icon-20 text-primary"></i>
                        <span class="text-sm text-w-neutral-1">
                            07
                        </span>
                    </div>
                </div>
                <div class="flex-y gap-1">
                    <i class="ti ti-share-3 icon-20 text-w-neutral-4"></i>
                    <span>
                        07
                    </span>
                </div>
            </div>
            <div class="flex-y flex-wrap gap-3 mb-1">
                <span class="text-m-medium text-w-neutral-1">
                    Collections
                </span>
                <p class="text-sm text-w-neutral-2">
                    September 04, 2023
                </p>
            </div>
            <a href="./blog-details.html" class="heading-5 text-w-neutral-1 line-clamp-2 link-1">
                Pros and Cons of Minimal Navigation In Web Design
            </a>
        </div>
    </div>
    <div class="xxl:col-span-12 md:col-span-6 col-span-12 xxl:order-3 order-2">
        <h4 class="heading-4 text-w-neutral-1 mb-24p">
            Testimonials
        </h4>
        <div class="swiper one-card-carousel" data-carousel-name="testimonials-one">
            <div class="swiper-wrapper pb-15">
                <div class="swiper-slide">
                    <div class="flex-col-c text-center">
                        <div class="flex-c gap-1 icon-24 text-primary">
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-half-filled"></i>
                        </div>
                        <p class="text-base text-w-neutral-1 line-clamp-3 my-16p">
                            Stellar Odyssey" is a visually stunning successfully
                            captures
                            the essence of leans on familiar themes,
                        </p>
                        <a href="#" class="text-l-medium text-w-neutral-1 mb-1">
                            David Malan
                        </a>
                        <span class="text-sm text-w-neutral-2 mb-3">
                            Leader
                        </span>
                        <img class="avatar size-60p" src="./assets/images/users/user1.png" alt="user" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex-col-c text-center">
                        <div class="flex-c gap-1 icon-24 text-primary">
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                        </div>
                        <p class="text-base text-w-neutral-1 line-clamp-3 my-16p">
                            "Galactic Pursuit" weaves an exciting tale of
                            courage
                            and
                            adventure, delivering edge-of-the-seat moments.
                        </p>
                        <a href="#" class="text-l-medium text-w-neutral-1 mb-1">
                            Sarah Johnson
                        </a>
                        <span class="text-sm text-w-neutral-2 mb-3">
                            Co-Founder
                        </span>
                        <img class="avatar size-60p" src="./assets/images/users/user2.png" alt="user" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex-col-c text-center">
                        <div class="flex-c gap-1 icon-24 text-primary">
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-filled"></i>
                            <i class="ti ti-star-half-filled"></i>
                            <i class="ti ti-star"></i>
                        </div>
                        <p class="text-base text-w-neutral-1 line-clamp-3 my-16p">
                            "Mystic Realms" offers breathtaking visuals and an
                            intriguing
                            storyline but stumbles on character development.
                        </p>
                        <a href="#" class="text-l-medium text-w-neutral-1 mb-1">
                            Kevin Peterson
                        </a>
                        <span class="text-sm text-w-neutral-2 mb-3">
                            Senior Developer
                        </span>
                        <img class="avatar size-60p" src="./assets/images/users/user3.png" alt="user" />
                    </div>
                </div>
            </div>
            <div class="swiper-pagination pagination-one testimonials-one-carousel-pagination flex-c gap-2.5">
            </div>
        </div>
    </div>
    <div class="xxl:col-span-12 md:col-span-6 col-span-12 order-4">
        <span class="icon-40 text-primary">
            <i class="ti ti-mail-opened"></i>
        </span>
        <div class="my-20p">
            <h1 class="heading-1 text-w-neutral-1 mb-2">
                Newsletter
            </h1>
            <p class="text-base text-w-neutral-3">
                Check Latest Updates
            </p>
        </div>
        <form class="flex-y justify-between gap-2.5 bg-b-neutral-2 px-24p pr-3 py-3 rounded-full mb-3">
            <input class="w-full bg-transparent placeholder:text-sm placeholder:text-w-neutral-4" type="email"
                name="email" id="newsletterEmail" placeholder="Your Email" />
            <button class="shrink-0 flex-c size-8 rounded-full bg-accent-4 icon-24 text-b-neutral-4">
                <i class="ti ti-arrow-right"></i>
            </button>
        </form>
        <div class="shrink-0 flex-y gap-16p">
            <i class="ti ti-alert-circle text-white icon-24"></i>
            <p class="text-sm text-w-neutral-2">
                Important Notification
            </p>
        </div>
    </div>
</div>
<!-- right side content active members, Latest Blogs, Testimonials, newsletter card end -->