<!-- team member start -->
<div class="bg-b-neutral-3 mb-30p">
    <div class="glitch-effect rounded-t-12 overflow-hidden">
        <div class="glitch-thumb">
            <img class="w-full 3xl:h-[428px] lg:h-[400px] md:h-[340px] sm:h-[280px] h-[240px] object-cover"
                src="./assets/images/teams/teamCover1.png" alt="image" />
        </div>
        <div class="glitch-thumb">
            <img class="w-full 3xl:h-[428px] lg:h-[400px] md:h-[340px] sm:h-[280px] h-[240px] object-cover"
                src="./assets/images/teams/teamCover1.png" alt="image" />
        </div>
    </div>
    <div class="px-40p xl:py-[26px] py-24p z-[5]">
        <div
            class="flex md:flex-row flex-col md:items-end items-center  md:text-left text-center gap-3 py-4 xxl:-mt-30 xl:-mt-15 max-md:-mt-20 relative z-[2]">
            <img class="avatar xxl:size-[160px] xl:size-[140px] size-[120px] border-2 border-secondary"
                src="./assets/images/teams/team22.webp" alt="group profile" />
            <div>
                <h4 class="heading-4 text-w-neutral-1 mb-2">
                    Quantum Blaze
                </h4>
                <p class="text-sm text-w-neutral-3">
                    Team Wolves
                </p>
            </div>
        </div>
        <div class="tab-navbar flex items-center flex-wrap gap-x-32p gap-y-24p sm:text-xl text-lg *:font-borda  font-medium text-w-neutral-1 whitespace-nowrap pt-16p border-t border-shap
            ">
            <a href="./team-home.html">
                Members
            </a>
            <a href="team-games.html">
                Games
            </a>
            <a href=" team-ranks.html">
                Ranks
            </a>
            <a href=" team-tournament.html">
                Tournament
            </a>
        </div>
    </div>
</div>
<!-- team member end -->