<!-- Tournament header start -->
<section class="pt-30p">
    <div class="section-pt">
        <div
            class="bg-[url('../images/photos/tournamentBanner.webp')] bg-cover bg-no-repeat rounded-24 overflow-hidden h-[416px]">
            <div class="container">
                <div class="grid grid-cols-12 gap-30p relative xl:py-[110px] md:py-30 sm:py-25 py-20 z-[2]">
                    <div class="lg:col-start-2 lg:col-end-12 col-span-12">
                        <h2 class="heading-2 text-w-neutral-1 mb-3">
                            Tournament Details
                        </h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#" class="breadcrumb-link">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <span class="breadcrumb-icon">
                                    <i class="ti ti-chevrons-right"></i>
                                </span>
                            </li>
                            <li class="breadcrumb-item">
                                <span class="breadcrumb-current">Tournament Details</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div
                class="pb-30p overflow-visible relative grid 4xl:grid-cols-12 grid-cols-1 gap-30p lg:-mt-30 md:-mt-40 sm:-mt-48 -mt-56">
                <div class="4xl:col-start-2 4xl:col-end-12">
                    <div class="relative z-10 grid 4xl:grid-cols-11 grid-cols-12 items-center gap-30p bg-b-neutral-3 shadow-4 p-40p rounded-24 xl:divide-x divide-shap/70"
                        data-aos="fade-up" data-aos-duration="2000">
                        <div class="3xl:col-span-4 col-span-12">
                            <div class="max-xl:flex-col-c max-xl:text-center">
                                <h3 class="heading-3 text-w-neutral-1 mb-20p">
                                    Spring 2023 Double Elimination
                                </h3>
                                <div class="flex-y flex-wrap max-xl:justify-center gap-16p">
                                    <span class="badge badge-lg badge-primary">
                                        Feb 14,12:45 pm
                                    </span>
                                    <span class="badge badge-lg badge-secondary">
                                        March 21, 5:00 am
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="3xl:col-span-4 xl:col-span-7 col-span-12 grid xl:grid-cols-2 grid-cols-1 gap-y-30p xl:divide-x divide-shap/70">
                            <div class="flex-col-c text-center">
                                <p class="text-m-medium text-w-neutral-1">
                                    Tournament prize pool
                                </p>
                                <h3 class="py-3 heading-3 text-secondary text-center">
                                    $ 750
                                </h3>
                                <span class="text-xl-medium text-center text-secondary">
                                    VIEW PRIZES
                                </span>
                            </div>
                            <div class="flex-col-c text-center">
                                <p class="text-m-medium text-w-neutral-1">
                                    Boosted prize pool
                                </p>
                                <h3 class="py-3 heading-3 text-center text-w-neutral-1">
                                    $ 0
                                </h3>
                                <span class="text-xl-medium text-center text-primary">
                                    VIEW PRIZES
                                </span>
                            </div>
                        </div>
                        <div class="3xl:col-span-3 xl:col-span-5 col-span-12">
                            <div class="flex xl:justify-end justify-center">
                                <div class="flex-col-c text-center">
                                    <a href="#" class="btn btn-md btn-primary rounded-12 mb-16p">
                                        JOIN NOW !
                                    </a>
                                    <div class="countdown flex items-center gap-3 py-16p" data-date="07-05-2025"
                                        data-time="02:30 pm">
                                        <div>
                                            <span class="days text-m-medium text-white"></span>
                                            <span class="text-xs text-white">Days</span>
                                        </div>
                                        <span class="text-primary icon-24">:</span>
                                        <div>
                                            <span class="hours text-m-medium text-white"></span>
                                            <span class="text-xs text-white">Hours</span>
                                        </div>
                                        <span class="text-primary icon-24">:</span>
                                        <div>
                                            <span class="minutes text-m-medium text-white"></span>
                                            <span class="text-xs text-white">Minutes</span>
                                        </div>
                                        <span class="text-primary icon-24">:</span>
                                        <div>
                                            <span class="seconds text-m-medium text-white"></span>
                                            <span class="text-xs text-white">Seconds</span>
                                        </div>
                                    </div>
                                    <p class="text-s-medium text-w-neutral-4">
                                        Registration ends on 22 Dec 2024
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="tab-navbar flex items-center flex-wrap gap-x-32p gap-y-24p sm:text-xl text-lg *:font-borda font-medium text-w-neutral-1 whitespace-nowrap pt-30p">
                        <a href="./tournament-overview.html">
                            Overview
                        </a>
                        <a href="./tournament-prizes.html">
                            Prizes
                        </a>
                        <a href="./tournament-participants.html">
                            Participants
                        </a>
                        <a href="./tournament-matches.html">
                            Matches
                        </a>
                        <a href="./tournament-brackets.html">
                            Brackets
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tournament header end -->